*.csv
*.pdf
.DS_Store

# Virtual environment
.venv/
bin/
include/
lib/
pyvenv.cfg

# Terraform
terraform/.terraform/
terraform/*.tfstate*
terraform/*.tstate*
terraform/terraform.tfvars

# Scripts and logs
*.log
scripts/ExternalTables.sql
impCommands/
